/* BASE STYLES */
:root {
  --blue-primary: #082a78;
  --blue-secondary: #05205f;
  --blue-dark: #03143b;
  --blue-light: #f1f8ff;
  --blue-vibrant: #2f5bdf;
  --gray-normal: #d7d7d7;
  --gray-transparent: #e5e5e5c8;
  --green-success: #5cb85c;
  --red-error: #d9534f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: var(--blue-dark);
  font-size: 15px;
  line-height: 1.5;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

p {
  font-size: 1.06rem;
  margin-bottom: 10px;
}

a {
  color: var(--blue-dark);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

li {
  list-style-type: none;
}

/* Utilities */
.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
}

.primary-btn {
  background-color: var(--blue-primary);
  border: 2px solid var(--blue-dark);
  border-radius: 12px;
  color: #f2f2f2;
  padding: 8px 15px;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: var(--blue-secondary);
  transform: scale(0.95);
}

.secondary-btn {
  background-color: #fff;
  border: 2px solid var(--gray-normal);
  border-radius: 12px;
  color: var(--dark-color);
  padding: 8px 15px;
  transition: 0.3s;
}

.secondary-btn:hover {
  background-color: #f5f5f5;
  transform: scale(0.95);
}

/* NAVIGATION BAR */
.navbar {
  position: sticky;
  top: 0;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid var(--gray-light);
  width: 100%;
}

.navbar .container {
  align-items: center;
  justify-content: space-between;
}

.navbar .container .logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

.navbar .container .logo img {
  max-width: 4rem;
  margin-right: 7px;
}

.navbar .container .logo h1 {
  margin: 0;
  font-size: 1.7rem;
}

.navbar nav .menu {
  display: flex;
  gap: 30px;
}

.navbar nav .menu li a {
  transition: 0.3s;
}

.navbar nav .menu li a:hover {
  color: var(--blue-vibrant);
}

.navbar nav .buttons {
  display: flex;
  gap: 7px;
}

/* SHOWCASE */
.showcase {
  height: 60vh;
}

.showcase .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.showcase h1 {
  max-width: 700px;
  font-size: 3rem;
}

.showcase p {
  max-width: 800px;
  font-size: 1.2rem;
}

.showcase .showcase-buttons {
  display: flex;
  gap: 10px;
}

.showcase .showcase-buttons .primary-btn {
  padding: 10px 20px;
  font-size: 1rem;
}

.showcase .showcase-buttons .secondary-btn {
  padding: 10px 20px;
  font-size: 1rem;
}

/* FEATURES - QUIZ, METHOD, SHARE*/
.quiz,
.method,
.share {
  height: 60vh;
  padding: 0 3rem;
}

.quiz .container,
.method .container,
.share .container {
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.method .container {
  flex-direction: row-reverse;
}

.quiz .quiz-text,
.method .method-text,
.share .share-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.quiz .quiz-text h1,
.method .method-text h1,
.share .share-text h1 {
  font-size: 2rem;
}

.method .method-text {
  align-items: flex-end;
  text-align: right;
}

.quiz .quiz-figure,
.method .method-figure,
.share .share-figure {
  width: 45%;
  height: 80%;
  border-radius: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* PRICE OVERVIEW */
.price-overview {
  height: 40vh;
  background-color: var(--blue-light);
  margin-top: 50px;
  border-bottom: 1px solid var(--gray-light);
}

.price-overview .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-overview .price-overview-text {
  text-align: center;
}

.price-overview .price-overview-text h2 {
  font-size: 2.5rem;
  margin: 0;
}

.price-overview .price-overview-text p {
  font-size: 1.2rem;
}

.price-overview .price-overview-button {
  margin-top: 30px;
}

.price-overview .price-overview-button .secondary-btn {
  display: block;
  background-color: transparent;
  padding: 10px 100px;
  font-size: 1.3rem;
  border-radius: 2rem;
  border: 1px solid var(--blue-dark);
}

.price-overview .price-overview-button .secondary-btn:hover {
  color: var(--blue-primary);
  border: 1px solid var(--blue-primary);
  transform: scaleX(1.05);
}

/* Footer */
footer {
  height: 40vh;
  background-color: var(--blue-light);
  padding: 0 3rem;
}

footer .container {
  align-items: center;
  justify-content: space-between;
}

footer .footer-general a:hover,
footer .footer-resources a:hover {
  color: var(--blue-vibrant);
}

footer .footer-social p {
  font-weight: 500;
}

footer .footer-social .footer-icons {
  display: flex;
  gap: 10px;
}

footer .footer-social .footer-icons a {
  transition: 0.3s;
}

footer .footer-social .footer-icons a:hover {
  transform: scale(0.92);
}
