<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/all.min.css">
  <link rel="stylesheet" href="../static/css/font.css">
  <link rel="stylesheet" href="../static/css/flashcard.css">
  <title>FlashCard</title>
</head>
<body>

  <!-- Navbar -->
  <div class="navbar">
    <nav class="container">
      <!-- Logo -->
      <a href="home">
        <div class="logo">
          <img src="../static/images/QLarge.svg" alt="Logo" />
          <h1>QuizRev</h1>
        </div>
      </a>

      <!-- Button -->
      <div class="buttons">
        <button id="shuffle-btn" class="secondary-btn">
          <i class="fas fa-random"></i> Shuffle
        </button>
        <form action="/display" method="get">
          <input type="hidden" name="directory_type" value="{{ parent_directory_type }}">
          <input type="hidden" name="directory_id" value="{{ parent_directory_id }}">
          <button type="submit" class="primary-btn">Back</button>
        </form>
      </div>
    </nav>
  </div>

  <!-- Flashcard -->
  <div class="flashcard-container">
    {% for question in contents %}
    <div class="flashcard">
      <div class="question">
        {{ question[1] }}
        <div class="click-message">Click to flip the card</div>
      </div>
      <div class="answer">
        {{ question[2] }}
        <div class="click-message">Click to flip the card</div>
      </div>
    </div>
    {% endfor %}
    <div class="button">
      <button id="prevBtn">Previous</button>
      <button id="nextBtn">Next</button>
    </div>
  </div>

  <div class="alert" id="reviewalert" style="display:none;">
    <div class="alert-content">
      <h2>Review Complete!</h2>
      <p>Congratulations on completing your review session.</p>
      <div class="alert-buttons">
        <button class="retry-btn" onclick="retryReview()">Retry</button>
        <form action="/display" method="get">
          <input type="hidden" name="directory_type" value="{{ parent_directory_type }}">
          <input type="hidden" name="directory_id" value="{{ parent_directory_id }}">
          <button type="submit" class="finish-btn">Finish</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    const flashcards = document.querySelectorAll('.flashcard');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const reviewalert = document.getElementById("reviewalert");

    let currentIndex = 0;

    function updateFlashcard() {
      flashcards.forEach((card, index) => {
        card.style.display = index === currentIndex ? 'block' : 'none';
      });
    }

    flashcards.forEach(card => {
      card.addEventListener('click', () => {
        card.classList.toggle('flipped');
      });
    });

    prevBtn.addEventListener('click', () => {
      currentIndex = (currentIndex - 1 + flashcards.length) % flashcards.length;
      updateFlashcard();
    });

    nextBtn.addEventListener('click', () => {
      if (currentIndex < flashcards.length - 1) {
        currentIndex++;
        updateFlashcard();
      } else {
        reviewalert.style.display = "flex";
      }
    });

    function retryReview() {
      currentIndex = 0;
      updateFlashcard();
      reviewalert.style.display = "none";
    }

    updateFlashcard();

    /* Shuffle */
    /* document.getElementById('shuffle-btn').addEventListener('click', function() {
      const container = document.querySelector('.flashcard-container');
      for (let i = container.children.length; i >= 0; i--) {
        container.appendChild(container.children[Math.random() * i | 0]);
      }
      this.classList.toggle('active');
      currentIndex = 0;
      updateFlashcard();
    }); */
  </script>
</body>
</html>