<!DOCTYPE html>

<html>
    <head>
        <script>
            function display_error() {
              current_url = new URL(window.location.href)
              url_params = new URLSearchParams(current_url.search)
              if (url_params.has('error')) {
                window.alert(url_params.get('error'))
              }
            }
        </script>
    </head>
    <body>
        <!-- Data that the backend sends here -->
        <div>
            user_data: {{user_data}}
        </div>
        <br>
        <div>
            classrooms_info: {{classrooms_info}}
        </div>

        <!-- Join classroom functionality -->
        <br>
        <div>Join classroom:</div>
        <form action="/join_classroom" method="POST">
            <input name="directory_type" value="classroom" type="hidden" readonly>
            <input name="directory_id">
            <input type="submit">
        </form>

        <!-- Add classroom functionality -->
        <br>
        <div>Add classroom:</div>
        <form action="/add_directory" method="POST">
            <input name="directory_type" value="classroom" type="hidden" readonly>
            <input name="directory_name">
            <input type="submit">
        </form>

        <!-- Show all authored classrooms -->
        <br>
        <div>Authored classrooms:</div>
         {% for authored_class_id in classrooms_info[0] %}
            <form action="/display" method="GET">
                <input name="directory_id" value="{{ authored_class_id }}" type="hidden" readonly>
                <input name="directory_type" value="classroom" type="hidden" readonly>
                <div>
                    Classroom name: {{ classrooms_info[0][authored_class_id] }}
                </div>
                <button type="submit">see subjects</button>
            </form>
            <form action="/edit_directory" method="POST">
                <input name="directory_id" value="{{ authored_class_id }}" type="hidden" readonly>
                <input name="directory_type" value="classroom" type="hidden" readonly>
                <input name="new_classroom_name" placeholder="rename_classroom">
                <button type="submit">rename</button>
            </form>
            <form action="/delete_directory" method="POST">
                <input name="directory_id" value="{{ authored_class_id }}" type="hidden" readonly>
                <input name="directory_type" value="classroom" type="hidden" readonly>
                <button type="submit">delete</button>
            </form>
            <br>
         {% endfor %}

        <!-- Show all joined classrooms but not authored -->
        <br>
        <div>Joined classrooms:</div>
        {% for joined_class_id in classrooms_info[1] %}
            <form action="/display" method="GET">
                <input name="directory_id" value="{{ joined_class_id }}" type="hidden" readonly>
                <input name="directory_type" value="classroom" type="hidden" readonly>
                <div>
                    Classroom name: {{ classrooms_info[1][joined_class_id] }}
                </div>
                <button type="submit">see subjects</button>
            </form>
        {% endfor %}

        <script>
            display_error()
        </script>
    </body>
</html>