<!DOCTYPE html>

<!-- Page users see if they're logged in -->

<html>
  <head>
    <link rel="stylesheet" href="landing.css" />
    <script>
      function display_error() {
        current_url = new URL(window.location.href)
        url_params = new URLSearchParams(current_url.search)
        if (url_params.has('error')) {
          window.alert(url_params.get('error'))
        }
      }
  </script>
  </head>
  <body>
    <div>Welcome to Harry's home page</div>
    <div>Ito ang page na makikita kapag nag login ang user</div>

    <form action="/" method="get">
      <button type="submit">Log out</button>
    </form>

    <div>Classes joined:</div>
    <div>
      {% for classroom_id in joined_classrooms %}
        <div> {{ classroom_id }} - {{ joined_classrooms[classroom_id] }} </div>
      {% endfor %}
    </div>

    <br />
    <div>Displayed info of users using Jinja</div>
    <div>
      {% for data in user_data %}
      <div>{{ data }} - {{ user_data[data] }}</div>
      {% endfor %}
    </div>
    <script>
      display_error()
  </script>
  </body>
</html>
