<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>
  <link rel="stylesheet" href="Signup.css">
</head>
<body>
  <div class="form-container">
    <h1>Sign Up</h1>
    <form>
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="first-name" placeholder="Enter First Name" required>

      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="last-name" placeholder="Enter Last Name" required>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter Email" required>

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Username" required>

      <label for="password">Password:</label>
      <div class="password-container">
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <span class="password-toggle"></span>
      </div>
      <button type="submit" class="submit-btn" href = "#landing_page">Sign Up</button>
      <div class="login-redirect">
        Already have an account? <a href="Login.html">Log In</a>
      </div>
    </form>
  </div>
</body>
</html>
