<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/all.min.css">
    <link rel="stylesheet" href="../static/css/boxicons.min.css">
    <link rel="stylesheet" href="../static/css/font.css" />
    <link rel="stylesheet" href="../static/css/dashboard.css" />
    <script src="../static/js/subject.js" defer></script>
    <title>Quizrev | Subjects</title>
    <script>
      function display_error() {
        current_url = new URL(window.location.href);
        url_params = new URLSearchParams(current_url.search);
        if (url_params.has("error")) {
          window.alert(url_params.get("error"));
        }
      }
    </script>
</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar close">
      <header>
        <div class="img-text">
          <span class="image">
            <img src="../static/images/QLarge.svg" alt="logo">
          </span>
          <div class="text header-text">
            <h1 class="name">Quizrev</h1>
          </div>
        </div>
        <i class="bx bx-chevron-left toggle"></i>
      </header>
      <div class="menubar">
        <div class="menu">
          <ul class="links">
            <li class="navlinks">
              <a href="home"
                ><i class="bx bx-home-smile"
                  ><span class="text nav-text"> Dashboard</span></i
                ></a
              >
            </li>
            <li class="navlinks">
              <a href="pricingLogout"
                ><i class="bx bx-purchase-tag"
                  ><span class="text nav-text"> Plan</span></i
                ></a
              >
            </li>
            <li class="navlinks">
              <a href="profile"
                ><i class="bx bxs-face"
                  ><span class="text nav-text"> Profile</span></i
                ></a
              >
            </li>
            <li class="navlinks">
              <a href="logout"
                ><i class="bx bx-log-out"
                  ><span class="text nav-text"> Logout</span></i
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Content - Subjects -->
    <div class="main-content dashboard">
      <!-- Dashboard Header -->
      <div class="dashboard-header">
        <div class="dashboard-left">
          <h1 class="dashboard-title" data-classroom-id="{{ parent_directory_id }}">{{ parent_directory_name }}</h1>
          <button class="copy-btn secondary-btn" id="copy-classroom-id-btn">
            <i class="fa-solid fa-clipboard"></i> 
          </button>
        </div>
        <div class="dashboard-buttons">
          {% if authored == "1" %}
            <button class="primary-btn" id="add-subject-btn">Add Subject</button>
          {% endif %}
          <button class="secondary-btn" id="leave-class-btn">Leave Classroom</button>
        </div>
      </div>

      <span class="line"></span>

      <!-- Dashboard Content -->
      <div class="dashboard-content">
        <!-- Subjects -->
        <div class="subjects">
          <h3>Subjects</h3>
          <div class="grid">
            <!-- subject[subject_id, subject_name] -->
            {% for subject_info in contents[0] %}
              <form action="/display" method="get" class="item">
                <input type="hidden" name="directory_type" value="subject">
                <input type="hidden" name="directory_id" value="{{ subject_info[0] }}">
                <input type="submit" value="{{ subject_info[1] }}" class="card-name">
                {% if authored == "1" %}
                <div class="card-buttons">
                  <button type="button" class="edit-icon" data-subject-id="{{ subject_info[0] }}">
                    <i class="fa-solid fa-edit"></i>
                  </button>
                  <button type="button" class="delete-icon" data-subject-id="{{ subject_info[0] }}">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
                {% endif %}
              </form>
            {% endfor %}
          </div>
        </div>

        <!-- Students Joined -->
        <div class="students-joined">
          <h3>Students</h3>
          <ul class="student-list">
            <!-- user[id, first_name, last_name, is_author] -->
            {% for user in contents[1] %}
              <div class="student-item">
                <div class="student-info">
                  <p>{{ user[1] }} {{ user[2] }}</p>
                  <p>{{ user[3] }}</p>
                  <p>{{ 'Author' if user[4] else 'Member' }}</p>
                  {% if authored == "1" and not user[4] %}
                  <button type="button" class="kick-btn" data-user-id="{{ user[0] }}">
                    <i class="fa-solid fa-user-slash"></i>
                  </button>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Add Subject Modal -->
    <div id="add-subject-modal" class="modal">
      <div class="modal-content">
        <h3>Add Subject</h3>
        <span class="modal-close" id="close-add-subject">&times;</span>
        <form action="/add_directory" method="post">
          <input type="hidden" name="parent_id" value="{{ parent_directory_id }}">
          <input type="hidden" name="directory_type" value="subject">
          <input name="directory_name" placeholder="Enter Subject Name">
          <button type="submit" class="primary-btn">Add</button>
        </form>
      </div>
    </div>

    <!-- Rename Subject Modal -->
    <div id="rename-subject-modal" class="modal">
      <div class="modal-content">
        <h3>Rename Subject</h3>
        <span class="modal-close" id="close-rename-subject">&times;</span>
        <form id="rename-subject-form" action="/edit_directory" method="post">
          <input type="hidden" name="directory_type" value="subject" />
          <input type="hidden" name="parent_id" value="{{ parent_directory_id }}" />
          <input type="hidden" name="directory_id" id="rename-subject-id" />
          <input
            name="new_directory_name"
            placeholder="Enter New Subject Name"
          />
          <button type="submit" class="primary-btn">Rename</button>
        </form>
      </div>
    </div>

    <!-- Delete Subject Modal -->
    <div id="delete-subject-modal" class="modal">
      <div class="modal-content modal-centered">
        <h3>Delete Subject</h3>
        <span class="modal-close" id="close-delete-subject">&times;</span>
        <form id="delete-subject-form" action="/delete_directory" method="post">
          <input type="hidden" name="parent_id" value="{{ parent_directory_id }}">
          <input type="hidden" name="directory_type" value="subject">
          <input type="hidden" name="directory_id" id="delete-subject-id">
          <p>Are you sure you want to delete this subject?</p>
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </div>
    </div>

    <!-- Leave Classroom Modal -->
    <div id="leave-class-modal" class="modal">
      <div class="modal-content modal-centered">
        <h3>Leave Classroom</h3>
        <span class="modal-close" id="close-leave-class">&times;</span>
        <form action="/leave_classroom" method="post">
          <input type="hidden" name="directory_id" value="{{ parent_directory_id }}">
          <p>Are you sure you want to leave this classroom?</p>
          <button type="submit" class="delete-btn">Leave</button>
        </form>
      </div>
    </div>

    <!-- Kick User Modal -->
    <div id="kick-user-modal" class="modal">
      <div class="modal-content modal-centered">
        <h3>Kick User</h3>
        <span class="modal-close" id="close-kick-user">&times;</span>
        <form action="/kick_user" method="post">
          <input type="hidden" name="user_id_to_kick" id="kick-user-id">
          <input type="hidden" name="directory_id" value="{{ parent_directory_id }}">
          <p>Are you sure you want to kick this user?</p>
          <button type="submit" class="delete-btn">Kick</button>
        </form>
      </div>
    </div>
    <script>
      display_error();
    </script>
</body>
</html>